@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap');


body {
    font-family: 'Raleway', sans-serif;
    font-size: larger;
    background-color: rgb(62, 132, 217);
}

header {
    color: white;
    text-align: center;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.651);
    font-size: 16pt;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.651);
    text-align: center;
    font-size: 16pt;
}

section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 750px;
    margin: auto;
    box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.685);
    font-weight: 500;
}

#res {
    text-align: center;
}

.input-ano {
    width: 150px;
    height: 20px;
}

.input-sexo {
    width: 20px;
    height: 14px;
}

.button {
  color: #FFF;
  background-color: #68A0DE;
  box-shadow:inset 0 -5px 0 0 rgba(0,0,0,0.17);
  transition: 0.1s;
  text-shadow: 0px 3px rgba(0,0,0,0.17);
  width: 100px;
  height: 40px;
  margin-right: 15px;
  cursor: pointer;

}

.button:hover {
    box-shadow:inset 0 -2px 0 0 rgba(0,0,0,0.17);
    text-shadow: 0px 2px rgba(0,0,0,0.17);
  }
  
.button:active {
    box-shadow:inset 0 0px 0 0 rgba(0,0,0,0.17);
    text-shadow: 0px 0px rgba(0,0,0,0.17);
}





