:root {
    --cor-reflexo: rgba(255, 255, 255, 0.4);
    --cores-dancantes: rgb(76, 217, 105), rgb(52, 170, 220), rgb(88, 86, 217),
        rgb(255, 45, 83);
}

body {
    background-color: rgba(0, 0, 0, 0.911);
    color: whitesmoke;
    text-shadow: 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.473);
    font: normal 15pt arial;

    position: absolute;
     left: 50%;
     top: 40%;
     transform: translate(-50%, -50%);
}

div#res {
    font: normal 18pt arial;
    margin-top: 12px;
    margin-bottom: 30px;
}

.caixa {
    padding: 50px;
    height: 200px;
    width: 500px;

    background: linear-gradient(to right, var(--cores-dancantes));
    z-index: 999;
    animation: coresDancantes 2s linear infinite;
    border-radius: 10px;
    
}

@keyframes coresDancantes {
    100% {
        filter: hue-rotate(360deg);
    }
}

.conteudo>span:nth-child(1) {
    filter: blur(4px);
}

.conteudo>span:nth-child(2) {
    filter: blur(5px);
}


